.team-section{
    padding: 67px 0 61px;

    .team-more{
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: $font-weight-medium;
    }

    .team-member-name{
        margin-bottom: 1.5rem;
        a{
            line-height: 2.7rem;
            font-size: 2.2rem;

        }
    }

    .team-member-info{
        margin-bottom: 3rem;
    }
    .fa-linkedin-in{
        color: $gray-900;
        font-size: 3rem;
    }

}

@media(min-width:576px){
    .team-section{
        .team-member-info{
            margin-bottom: 10rem;
        }
    }
}

// our team

.our-team{
    padding: 50px 0;

    figure{
        overflow: hidden;
        img{
            transition: 1s linear;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    .our-team-member{
        .fa-linkedin-in{
            position: absolute;
            right: 15px;
            bottom: 16px;
            color: $white;
            font-size:2.8rem;
            z-index: 5;
            &:hover{
                text-decoration: none;
            }
        }

        h5{
            a{
                font-size: 2.2rem;
                line-height: 2.7rem;
                color: $body-color;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

@media(min-width:992px){
    .our-team{
        padding: 64px 0 133px;
    }
}

// team single

.team-single{
    padding: 50px 0;

    h1{
        font-size: 5rem;
    }

    p{
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
}

@media(min-width:992px){
    .team-single{
        padding: 100px 0 150px;
    }
}


.team-member-position{
    color: $primary;
    font-size: 1.8rem;
    line-height: 2.7rem;
    font-weight: $font-weight-medium;
}